<!DOCTYPE html>
<html>
<head>
  <title>PING</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= favicon_link_tag 'http://s5.postimg.org/eskmzbtsj/favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
